body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.list-inline > li {
    padding-right: 1px !important;
}

.contenedor_seleccion{
    width: 100%;
}

.seleccion_header{
    padding: 14px;
    border-bottom: 1px solid #d8d8d8;
    position: relative;
}

.seleccion_header h3{
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 1px;
    color: #000000;
    text-transform: uppercase;
    margin: 0px 0px 4px 0px;
}

.seleccion_header p{
    line-height: normal;
    letter-spacing: 0.5px;
    font-size: 11px;
    margin: 0px;
}

.button_cerrar{
    padding: 0px !important;
    margin: 0px;
    width: auto;
    border: none;
    background: none;
    position: absolute;
    right: 14px;
    top: 19px;
}

.button_cerrar img{
    width: 18px;
    height: 18px;
}

.seleccion_img img{
    width: 60px;
}

.seleccion_btn{
    float: right;
    margin-top: 12px;
}

.seleccion_btn button{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: normal;
    padding: 10px 26px;
    border: 1px solid #000;
    border-radius: 4px;
    background: none;
    transition: all 350ms;
}

.seleccion_btn button:hover {
    color: #fff;
    background-color: #000;
}

.selecion_item{
    padding: 12px 14px;
    border-bottom:1px solid #d8d8d8;
    margin-bottom: 0px;
}

.seleccion_title{
    font-size: 12px;
    line-height: normal;
    font-weight: bold;
}

.seleccion_main{
    padding-bottom: 60px;
}

.aplicar_seleccion{
    padding: 8px 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.aplicar_seleccion button{
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
    border-radius: 4px;
    background-color: #000;
    padding: 15px 0px;
    border: none;
}

.aplicar_seleccion .disabled{
    background-color: #d8d8d8 !important;
    cursor: auto;
}

.seleccion_btn .active{
    background-color: #000;
    color: #ffffff;
}

.contenedor_selecionados{
    background-color: #f5f5f5;
    padding: 9px 15px 5px 15px;
    border-bottom: 1px solid #d8d8d8;
}

.item_selecionado{
    width: 56px;
    text-align: center;
    position: relative;
}
.item_selecionado_img{
    width: 100%;
    border: solid 1px #d8d8d8;
}

.item_selecionado span{
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: normal;
}

.item_selecionado_close{
    width: 22px;
    border-radius: 50%;
    height: 22px;
    background-color: #808080;
    border: solid 2px #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -3px;
    top: -3px;
    transition: all 350ms;
}

.item_selecionado_close:hover {
    background-color: #000;
}
.item_selecionado_close img{
    width: 8px;
    height: 8px;
}




